{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hola Doctor</h1>
  <p class="lead">Bienvenido al Sistema de SaludChheck.</p>
  <hr class="my-4">
  <p>¿Que quiere hacer?</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" style="background: #10D183" role="button">Aplicar</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" style="background: #10D183" role="button">Iniciar Sesion</a>
  </p>
</div>

{% endblock content %}
